@model MvcApplication1.Models.Bebida

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<a id="back" href='@Url.Action("seleccionTipo", "Producto")'><img id="atras" src="~/Content/themes/base/images/atras.png" /></a>


<h2 class="text-center">Añadir nueva bebida</h2>

@using (Html.BeginForm("Create", "Bebida", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <div class="container-fluid">
        <div class="col text-center">
            <fieldset>


                <div class="editor-label">
                    @Html.LabelFor(model => model.precio)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.precio, new { @type = "number", @min = "0", @step = "0.01", @value = "0" })
                    @Html.ValidationMessageFor(model => model.precio)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.nombre)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.nombre)
                    @Html.ValidationMessageFor(model => model.nombre)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.foto)
                </div>
                <div>
                    <input type="file" name="file" />
                </div>

                @Html.HiddenFor(model => Model.id)
                <p>
                    <input type="submit" value="Añadir" class="admin_boton_crear btn btn-success" />
                </p>
            </fieldset>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
