@model MvcApplication1.Models.Bebida

@{
    ViewBag.Title = "Delete";
}
<a id="back" href='@Url.Action("Index", "Bebida")'><img id="atras" src="~/Content/themes/base/images/atras.png" /></a>

<h2>Delete</h2>

<h3>¿Estás seguro que deseas borrar este elemento?</h3>
<fieldset>
    <legend>Bebida</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.precio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.precio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.foto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.foto)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Volver", "Index")
    </p>
}
