@model MvcApplication1.Models.Registrado

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Dar de alta usuario</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Registrado</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombre)
            @Html.ValidationMessageFor(model => model.nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.telefono)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.telefono)
            @Html.ValidationMessageFor(model => model.telefono)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.contrasenya)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.contrasenya)
            @Html.ValidationMessageFor(model => model.contrasenya)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fecha_nac)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fecha_nac)
            @Html.ValidationMessageFor(model => model.fecha_nac)
        </div>

        <p>
            <input type="submit" value="Dar de alta" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
