@model MvcApplication1.Models.Direccion

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a id="back" href='@Url.Action("Perfil", "Account")'><img id="atras" src="~/Content/themes/base/images/atras.png" /></a>

<h2>Añadir dirección</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Direccion</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.provincia)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.provincia)
            @Html.ValidationMessageFor(model => model.provincia)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.localidad)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.localidad)
            @Html.ValidationMessageFor(model => model.localidad)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.codp)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.codp)
            @Html.ValidationMessageFor(model => model.codp)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.calle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.calle)
            @Html.ValidationMessageFor(model => model.calle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.numero)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.numero)
            @Html.ValidationMessageFor(model => model.numero)
        </div>

        <p>
            <input type="submit" value="Añadir" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("volver al perfil", "Perfil","Account")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
